<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pack.packersmovers" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".splashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".packersReg"
            android:label="@string/title_activity_packers_reg"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".MoversReg"
            android:label="@string/title_activity_movers_reg"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".packerHome"
            android:label="@string/title_activity_packer_home" />
        <activity
            android:name=".moverHome"
            android:label="@string/title_activity_mover_home" />
        <activity
            android:name=".packerpostlist"
            android:label="@string/title_activity_packerpostlist" />
        <activity
            android:name=".vehiclemanage"
            android:label="@string/title_activity_vehiclemanage" />
        <activity
            android:name=".movers_bidpost"
            android:label="@string/title_activity_movers_bidpost"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".packer_search"
            android:label="@string/title_activity_packer_search"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".packerProEdit"
            android:label="@string/title_activity_packer_pro_edit" />
        <activity
            android:name=".moverProEdit"
            android:label="@string/title_activity_mover_pro_edit" />
        <activity android:name=".checkActivity" />
        <activity
            android:name=".model.moversRevokebids"
            android:label="@string/title_activity_movers_revokebids" >
        </activity>
        <activity
            android:name=".packersBidsList"
            android:label="@string/title_activity_packers_bids_list" >
        </activity>
        <activity
            android:name=".packer_donedeal"
            android:label="@string/title_activity_packer_donedeal" >
        </activity>
    </application>

</manifest>
